<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.5.0" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.0.3" targetFramework="net45" developmentDependency="true" />
  <package id="FodyCecil" version="2.0.3" targetFramework="net45" developmentDependency="true" />
  <package id="GitVersionTask" version="4.0.0-beta0011" targetFramework="net45" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
</packages>